  <div class="navbar-default sidebar" role="navigation">
               {% if app.session.get('id') %}
				  <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                      
                        <li>
                            <a href="{{ path('payment_home') }}"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Marcas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path('brand_index') }}">Ver Marcas</a>
                                </li>
                                <li>
                                    <a href="{{ path('brand_new') }}">Agregar Marca</a>
                                </li>
                                <li>
                                    <a href="{{ path('brand_payment_index') }}">Ver metodos de pago por Marca</a>
                                </li>

                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Metodos de pago<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ path('payment_methods_index') }}">Ver Metodos de Pago</a>
                                </li>
                                <li>
                                    <a href="{{ path('payment_methods_new') }}">Agregar Metodos de Pago</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
                {% endif %}
            </div>
            <!-- /.navbar-static-side -->