<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Pagomio{% endblock %}</title>
     {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css')}}" /> 

            <!-- MetisMenu CSS -->
            <link href="{{ asset('public/css/metisMenu.min.css')}}" rel="stylesheet">

             <!-- Timeline CSS -->
             <link href="{{ asset('public/css/timeline.css')}}" rel="stylesheet">
            
            <!-- Custom CSS -->
            <link href="{{ asset('public/css/sb-admin-2.css')}}" rel="stylesheet">

            <!-- Morris Charts CSS -->
           <!--  <link href="{{ asset('public/css/morris.css')}}" rel="stylesheet"> -->

            <!-- Custom Fonts -->
            <link href="{{ asset('public/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
            
              <!-- Custom Style -->
            <link rel="stylesheet" href="{{ asset('public/css/style.css')}}" /> 

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
    {% endblock %}
    

</head>

<body>
   <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('payment_home') }}">Pagomio</a>
            </div>
            <!-- /.navbar-header -->
             {% if app.session.get('id') %}
            <ul class="nav navbar-top-links navbar-right">
               
               
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>   Hola,  {{ app.session.get('first_name') }} {{ app.session.get( 'last_name') }}  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <!-- <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li> 
                        <li class="divider"></li>-->
                        <li><a href="{{ path('payment_logout')}}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
             {% endif %}
        {{ include('_menu.html.twig') }}

        </nav>

        <div id="page-wrapper">
          
            {% block body %}{% endblock %}
      
    
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

       
          <!-- jQuery -->
          <script src="{{ asset('public/js/jquery-1.12.4.min.js')}}"></script>   

           <!-- Bootstrap Core JavaScript -->
          <script src="{{ asset('public/js/bootstrap.min.js')}}"></script>

          <!-- Metis Menu Plugin JavaScript -->
          <script src="{{ asset('public/js/metisMenu.min.js')}}"></script>

          <!-- Morris Charts JavaScript -->
          <!-- <script src="{{ asset('public/js/raphael-min.js')}}"></script>
          <script src="{{ asset('public/js/morris.min.js')}}"></script>
          <script src="{{ asset('public/js/morris-data.js')}}"></script> -->
         
         <!-- Custom Theme JavaScript -->
         <script src="{{ asset('public/js/sb-admin-2.js')}}"></script>
     
         {% block javascripts %} {% endblock %}
</body>

</html>
  


    
    
    
    


