{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Editar Marca</h1>
   {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" class="btn btn-primary"  />
    {{ form_end(edit_form) }}
    <br/>
    <ul>
        <li>
            <a href="{{ path('brand_payment_new', { 'brand': brand.id }) }}">Manejar metodos de pago</a>
        </li>
        <li>
            <a href="{{ path('brand_index') }}">Volver a ver todas las marcas creadas</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
