{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Marcas</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Emailcontact</th>
                <th>Phonecontact</th>
                <th>Direction</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Isactive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td><a href="{{ path('brand_show', { 'id': brand.id }) }}">{{ brand.id }}</a></td>
                <td>{{ brand.name }}</td>
                <td>{{ brand.emailContact }}</td>
                <td>{{ brand.phoneContact }}</td>
                <td>{{ brand.direction }}</td>
                <td>{% if brand.createdAt %}{{ brand.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if brand.updatedAt %}{{ brand.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if brand.isActive %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('brand_show', { 'id': brand.id }) }}">Ver detalle</a>
                        </li>
                        <li>
                            <a href="{{ path('brand_edit', { 'id': brand.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('brand_new') }}">Crear nueva marca</a>
        </li>
    </ul>
{% endblock %}
