{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Crear nueva marca</h1>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" class="btn btn-primary" />
    {{ form_end(form) }}
<br/>
    <ul>
        <li>
            <a href="{{ path('brand_index') }}">Volver a ver todas las marcas</a>
        </li>
    </ul>
{% endblock %}
