{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Marcas</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ brand.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ brand.name }}</td>
            </tr>
            <tr>
                <th>Email contacto</th>
                <td>{{ brand.emailContact }}</td>
            </tr>
            <tr>
                <th>Teléfono contacto</th>
                <td>{{ brand.phoneContact }}</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>{{ brand.direction }}</td>
            </tr>
           <!--  <tr>
                <th>Createdat</th>
                <td>{% if brand.createdAt %}{{ brand.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if brand.updatedAt %}{{ brand.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr> -->
            <tr>
                <th>Isactive</th>
                <td>{% if brand.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% if ( brand_payment|length > 0) %}
        <h4>Metodos de pago</h4>
        <ul>
        {% for payment in brand_payment %}
            <li>{{ payment.getPaymentMethods().getName() }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <ul>
        <li>
            <a href="{{ path('brand_index') }}">Volver a ver todas las marcas</a>
        </li>
        <li>
            <a href="{{ path('brand_edit', { 'id': brand.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
