{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Editar Metods de pago</h1>
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" class="btn btn-primary" />
    {{ form_end(edit_form) }}
    <br/>
    <ul>
        <li>
            <a href="{{ path('brand_payment_index') }}">Volver a ver todos los metodos de pago</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
