{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Metodos de pago por marca</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Metodo de pago</th>
                <th>Comision</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for brand_payment in brand_payments %}
            <tr>
                <td>{{ brand_payment.brand.name }}</td>
                <td>{{ brand_payment.paymentMethods.name }}</td>
                <td>{{ brand_payment.commission }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('brand_payment_show', { 'id': brand_payment.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('brand_payment_edit', { 'id': brand_payment.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
