{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Metodos de pago para {{ brand.name }}</h1>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" class="btn btn-primary" />
    {{ form_end(form) }}
<br/>
    <ul>
        <li>
            <a href="{{ path('brand_edit', { id: brand.id }) }}">Volver a la marca</a>
        </li>
    </ul>

    {% for flashMessage in app.session.flashbag.get('message') %}
        <span class="alert-success">
            {{ flashMessage }} 
        </span>
     {% endfor %}
{% endblock %}
