{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Brand_payment</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ brand_payment.id }}</td>
            </tr>
            <tr>
                <th>Idbrand</th>
                <td>{{ brand_payment.brand.name }}</td>
            </tr>
            <tr>
                <th>Idpayment</th>
                <td>{{ brand_payment.paymentMethods.name }}</td>
            </tr>
            <tr>
                <th>Commission</th>
                <td>{{ brand_payment.commission }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('brand_payment_index') }}">Ver metodos de pago por marca</a>
        </li>
        <li>
            <a href="{{ path('brand_payment_edit', { 'id': brand_payment.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
