{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Lista Metodos de pago</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Isactive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payment_method in payment_methods %}
            <tr>
                <td><a href="{{ path('payment_methods_show', { 'id': payment_method.id }) }}">{{ payment_method.id }}</a></td>
                <td>{{ payment_method.name }}</td>
                <td>{% if payment_method.createdAt %}{{ payment_method.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if payment_method.updatedAt %}{{ payment_method.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if payment_method.isActive %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('payment_methods_show', { 'id': payment_method.id }) }}">ver</a>
                        </li>
                        <li>
                            <a href="{{ path('payment_methods_edit', { 'id': payment_method.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('payment_methods_new') }}">Crear nuevo metodo de pago</a>
        </li>
    </ul>
{% endblock %}
