{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Crear nuevo metodo de pago</h1>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" class="btn btn-primary"/>
    {{ form_end(form) }}
<br/>
    <ul>
        <li>
            <a href="{{ path('payment_methods_index') }}">Volver a ver todas los metodos de pago</a>
        </li>
    </ul>
{% endblock %}
