{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Metodos de pago</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payment_method.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ payment_method.name }}</td>
            </tr>
           <!--  <tr>
                <th>Createdat</th>
                <td>{% if payment_method.createdAt %}{{ payment_method.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if payment_method.updatedAt %}{{ payment_method.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr> -->
            <tr>
                <th>Isactive</th>
                <td>{% if payment_method.isActive %}Si{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('payment_methods_index') }}">Volver a ver todos los metodos de pago</a>
        </li>
        <li>
            <a href="{{ path('payment_methods_edit', { 'id': payment_method.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
