
{% extends 'layout.html.twig' %}


{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 menu-login">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <!-- <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                             <!--    <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>
                            </fieldset>
                        </form> -->

                       <!--  <form action="{{ path('login') }}" method="post">
						    <label for="username">Username:</label>
						    <input type="text" id="username" name="_username" value="{{ last_username }}" />

						    <label for="password">Password:</label>
						    <input type="password" id="password" name="_password" />

						    {#
						        If you want to control the URL the user
						        is redirected to on success (more details below)
						        <input type="hidden" name="_target_path" value="/account" />
						    #}

						    <button type="submit">login</button>
						</form> -->

						<form class="form-signin" method='post' action='{{path('login_check')}}'>
							{% if error %}
						    <div class='red'>{{ error.message }}</div><br>
						    {% endif %}
						    <label for="inputName" class="sr-only">User Name</label>
						    <input type="text" id="inputName" name='_username' class="form-control" placeholder="User Name" required autofocus>
						    <label for="inputPassword" class="sr-only">Password</label>
						    <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password" required>
						    <div class="checkbox">
						    	<label>
						        	<input type="checkbox" value="remember-me" required checked>Disclaimer
						        </label>
						    </div>
						    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
						</form>
                    </div>
                </div>
            </div>
        </div>
 </div>
{% endblock %}



