{% extends 'layout.html.twig' %}

	
{% block body %}
  
 		 <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Información sistema</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{brands}}</div>
                                    <div>Marcas Creadas</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('brand_index') }}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver marcas</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                 <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{payment}}</div>
                                    <div>Metodos de Pago creados</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('payment_methods_index') }}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Metodos de Pago</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
           </div>
            <!-- /.row -->


{% endblock %}