{% extends 'layout.html.twig' %}


{% block body %}
<h1>User</h1>

<table border="2">
<tr> 
	<th> Username </th>
	<th> First Name</th>
	<th> Last Name </th>
	<th> email </th>
	<th> role </th>
	<th> created_at </th>
	<th> updated_at </th>
	<th> Actions </th>
</tr>
{% for value in user %}
</tr>
	<td> {{ value.username }} </td>
	<td> {{ value.firstName}} </td>
	<td> {{ value.lastName}} </td>
	<td> {{ value.email }} </td>
	<td> 
		{% if(value.role == 'ROLE_ADMIN') %}
			<strong>Administrador</strong>
			{% else %}
				<strong>Usuario</strong>
		{% endif %}
	</td>
	<td> {{ value.createdAt|date('d-m-Y H:i') }} </td>
	<td> {{	value.updateAt|date('d-m-Y H:i') }} </td>
	<td>
		<a href="#">View</a>
		<a href="#">Edit</a>
		<a href="#">Delete</a>
	</td>
</tr>  
{% endfor %}
</table>

{% endblock %}