
{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 menu-login">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Por favor Inicia Sesión</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-signin" method='post' action='{{path('payment_login')}}'>
                         
                            <label for="inputName" class="sr-only">Email</label>
                            <input type="email" id="inputEmail" name='_email' class="form-control" placeholder="Email" required autofocus>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password" required>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="remember-me" required checked>Recordarme
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
                        </form>
                    </div>
                </div>
           
        
         {% for flashMessage in app.session.flashbag.get('message') %}
            <span class="alert-success">
                {{ flashMessage }} 
            </span>
         {% endfor %}
          </div>
         </div>

 </div>


{% endblock %}



